<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "My Houses", rooms_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "My Trips", your_trips_path, class: "sidebar-link active" %></li>
      <li class="sidebar-item"><%= link_to "My Reservations", your_reservations_path, class: "sidebar-link" %></li>
    </ul>
  </div>

  <div class="col-md-9">
    <h1 class="my_history">My Trips</h1>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-3">
            <p class="text-center">Date</p>
          </div>
          <div class="col-md-7">
            <p class="text-center">House</p>
          </div>
          <div class="col-md-2">
            <p class="text-center">Host</p>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <% @trips.each do |trip| %>
          <div class="row">
            <div class="col-md-3">
              <span class="text-center"><%= trip.start_date.strftime('%d/%m/%y') %> - <%= trip.end_date.strftime('%d/%m/%y') %></span>
            </div>
            <div class="col-md-3">
              <%= link_to room_path(trip.room) do %>
                <%= image_tag trip.room.cover_photo(:thumb) %>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to trip.room.listing_name, rooms_path(trip.room) %>
            </div>
            <div class="col-md-2 pull-right text-center">
              <%= image_tag avatar_url(trip.room.user), class:"img-circle avatar-large" %>
              <%= link_to user_path(trip.room.user) do %>
                <%= trip.room.user.fullname%>
              <% end %>
            </div>
          </div>
          <hr/>
        <% end %>
      </div>
    </div>
  </div>
</div>
