<div class="row">
  <div class="col-md-3">
    <p><%= link_to "Your Houses", rooms_path, class: "sidbar_link" %></p>
    <p><%= link_to "Your Trips", your_trips_path %></p>
    <p><%= link_to "Your Reservations", rooms_path %></p>
  </div>

  <div class="col-md-9">
    <h1 class="my_history">My Reservations</h1>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-3">
            <p class="text-center">Date</p>
          </div>
          <div class="col-md-7">
            <p class="text-center">House</p>
          </div>
          <div class="col-md-2">
            <p class="text-center">Guest</p>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <% @rooms.each do |room| %>
          <% room.reservations.each do |reservation| %>
            <div class="row">
              <div class="col-md-3">
                <span class="text-center"><%= reservation.start_date.strftime('%d/%m/%y') %> - <%= reservation.end_date.strftime('%d/%m/%y') %></span>
              </div>
              <div class="col-md-3">
                <%= link_to room_path(room) do %>
                  <%= image_tag room.cover_photo(:thumb) %>
                <% end %>
              </div>
              <div class="col-md-4">
                <%= link_to room.listing_name, rooms_path(room) %>
              </div>
              <div class="col-md-2 pull-right text-center">
                <%= image_tag avatar_url(reservation.user), class:"img-circle avatar-large" %>
                <%= link_to user_path(reservation.user) do %>
                  <%= reservation.user.fullname%>
                <% end %>
              </div>
            </div>
            <hr/>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
